" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc
" Enable IdeaVim plugins https://jb.gg/ideavim-plugins

" Set leader key to space
let mapleader = ' '

""""""""""""""""""""""""Plugins""""""""""""""""""""""""
Plug 'machakann/vim-highlightedyank'
Plug 'tpope/vim-commentary'
Plug 'preservim/nerdtree'
Plug 'tpope/vim-surround'
Plug 'justinmk/vim-sneak'
"Plug 'vim-matchit'

set mini-ai
"set easymotion
set sneak
set peekaboo
"set functiontextoba
"set matchit

set number relativenumber
set scrolloff=5
set incsearch

""""""""""""""""""""""""Remaps"""""""""""""""""""""""""
nnoremap K 5kzz
nnoremap J 5jzz
nnoremap L gt
nnoremap H gT

imap <C-l> <Right>
imap <C-k> <Up>
imap <C-j> <Down>
imap <C-h> <Left>

inoremap <C-e> <End>
inoremap <C-a> <Home>

nnoremap x "_x
nnoremap X "_X

nnoremap Y y$
nnoremap y0 y^
nnoremap c0 "_cg^
nnoremap d0 "_dg^

nnoremap <PageDown> <C-d>zz
nnoremap <PageUp> <C-u>zz
nnoremap } }zz
nnoremap { {zz
nnoremap ( (zz
nnoremap ) )zz
nnoremap n nzzzv
nnoremap N Nzzzv
map gg gg_

nnoremap <C-d> <C-d>zz
nnoremap <C-u> <C-u>zz

nnoremap q <nop>
nnoremap <C-q> q

map m %
map M %

"""""""""""""""""""""""Mappings""""""""""""""""""""""""
map <leader>R <Action>(IdeaVim.ReloadVimRc.reload)

map gmm yyp

map ` <Plug>(acejump-linemarks)

map <leader>ff <Action>(GotoFile)
map <leader><leader> <Action>(SearchEverywhere)
map <leader>fr <Action>(RecentFiles)
map <leader>a <Action>(GotoAction)
map <leader>s <Action>(GotoSymbol)
map <leader>z <Action>(ToggleDistractionFreeMode)

nnoremap <S-CR> a<CR><Esc>k$

"""""""""""""""""""""""""LSP"""""""""""""""""""""""""""
map gr <Action>(ShowUsages)
map gi <Action>(GotoImplementation)
map gD <Action>(GotoTypeDeclaration)
map <leader>cf <Action>(ReformatCode)

""""""""""""""""""""""""Code"""""""""""""""""""""""""""
map <leader>nc <Action>(NewClass)
map <leader>ng <Action>(Generate)
map <leader>ns <Action>(NewScratchFile)
map <leader>cr <Action>(RenameElement)

map <leader>sw <Action>(SurroundWith)
map <leader>co <Action>(OptimizeImports)

map <A-j> <Action>(MoveStatementDown)
map <A-k> <Action>(MoveStatementUp)

map <leader>o <Action>(FileStructurePopup)
map <leader>h <Action>(Vcs.ShowTabbedFileHistory)

"""""""""""""""""""""""Window""""""""""""""""""""""""""
nmap <C-w><C-q> <Action>(CloseEditor)
"nmap <A-l> <C-W>l
"nmap <A-k> <C-W>k
"nmap <A-j> <C-W>j
"nmap <A-h> <C-W>h

""""""""""""""""""""""Debug/Run""""""""""""""""""""""""
map <leader>rr <Action>(Run)
map <leader>rd <Action>(Debug)
"map <leader>dq <Action>(Stop)
map <leader>dq :action Stop<CR><A-q>

map <leader>db <Action>(ToggleLineBreakpoint)
map <leader>de <Action>(EvaluateExpression)
map <leader>dB <Action>(ViewBreakpoints)

nmap <C-j> <Action>(StepOver)
nmap <C-k> <Action>(Resume)
nmap <C-h> <Action>(StepOut)
nmap <C-l> <Action>(ForceStepInto)

""""""""""""""""""""""Navigation"""""""""""""""""""""""
map s <Action>(flash.search)

map <leader>e :NERDTree<CR>
